<!DOCTYPE html>
<html>
  <head>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&display=swap");
    </style>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ASAF MAnufacturing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <!--<script src='main.js'></script>-->
  </head>
  <body>
    <div class="container">
      <nav class="nav_links">
        <h2>ASAF Manufacturing</h2>

        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>

      <div class="left_content_div">
        <h1>Where Every Design Comes Into Life!</h1>
        <h3>We have a profound experience in the carboard industry</h3>
        <p><a href="login/index.html">Place your order</a></p>
      </div>

      <div class="right_image_div">
        <!-- <img class="first_img" src="/images/flexo1.jfif" alt="our machineries" /> -->

        <img
          class="second_img"
          src="/images/flexo2.jfif"
          alt="our machineries"
        />

        <img class="third_img" src="/images/flexo3.jfif" alt="our machineries" />
        <img class="third_img" src="/images/cb2.jfif" alt="our machineries" />
        <img class="third_img" src="/images/cb1.jfif" alt="our machineries" />
      </div>
    </div>
  </body>
</html>
